body {
	
}

div.whole {width:70%; margin: 0 auto; background-color:red;}
div.WorkExperience{background-color:yellow;}
div.Honors{background-color:green;}
div.TechnicalSkills{background-color:orange;}

p.main {font-size:11pt; }

h1{font-size: 16pt; font-weight:bold; text-align:center; }

h2{font-size: 14pt; font-weight:bold}

h3{font-size:11pt; text-align:center; }

.split-para      { font-weight:bold; display:block;margin:10px;}
.split-para span { font-weight:normal; display:block;float:right;margin-left:10px;}